<div
  class="flex items-center *:p-2 font-medium text-primary-90 *:h-10 *:w-10 *:text-center justify-center"
>
  <i
    [ngClass]="{ chevronEnabled: showFirstPage }"
    class="text-gray-60 bi bi-chevron-left cursor-default"
    (click)="showFirstPage && moveBack()"
  ></i>
  <div
    [ngClass]="{ activeCell: currentPage == 1 }"
    *ngIf="showFirstPage"
    class="cursor-pointer cell"
    (click)="onPageClick(1)"
  >
    1
  </div>
  <div *ngIf="showFirstPage">...</div>
  <div
    *ngFor="let page of pages"
    [ngClass]="{ activeCell: page == currentPage }"
    class="cursor-pointer cell"
    (click)="onPageClick(page)"
  >
    {{ page }}
  </div>
  <div *ngIf="showLastPage">...</div>
  <div
    [ngClass]="{ activeCell: lastPage == currentPage }"
    *ngIf="showLastPage"
    class="cursor-pointer cell"
    (click)="onPageClick(lastPage)"
  >
    {{ lastPage }}
  </div>
  <i
    [ngClass]="{ chevronEnabled: showLastPage }"
    class="text-gray-60 bi bi-chevron-right cursor-default"
    (click)="showLastPage && moveForward()"
  ></i>
</div>
