table.custom-table {
  border-width: 1px;
  border-color: theme(colors.gray.20);
}

table.custom-table th {
  font-weight: theme(fontWeight.medium);
  color: theme(colors.gray.90);
  text-align: start;
  padding: 16px 12px;
  font-size: theme(fontSize.sm);
}

table.custom-table th.filter {
  padding: 8px 12px;
}

table.custom-table tbody {
  background-color: theme(colors.default.white);
}

table.custom-table td {
  padding: 8px 12px;
}

table.custom-table tr {
  border-bottom-width: 1px;
  border-bottom-color: theme(colors.gray.20);
}

table.custom-table tbody tr:hover {
  background-color: rgb(217, 75, 60, 0.3);
  box-shadow: inset 5px 0px theme(colors.primary.90);
}
