<form [formGroup]="form" class="flex flex-col gap-6">
  <h1 class="text-lg text-gray-90 font-bold">Планируемые посетители</h1>
  <table
    class="custom-table w-full text-sm text-gray-90 h-[500px] overflow-auto block bg-gray-10"
  >
    <thead class="sticky top-0 bg-gray-10">
      <tr>
        <th></th>
        <th>ФИО</th>
        <th>Должность</th>
        <th>Подразделение</th>
        <th>Электронная почта</th>
      </tr>
      <tr>
        <th></th>
        <th class="filter">
          <app-input
            startIcon="bi bi-search"
            placeholder="Поиск"
            formControlName="fullName"
          />
        </th>
        <th class="filter">
          <app-input
            startIcon="bi bi-search"
            placeholder="Поиск"
            formControlName="post"
          />
        </th>
        <th class="filter">
          <app-input
            startIcon="bi bi-search"
            placeholder="Поиск"
            formControlName="departament_id"
          />
        </th>
        <th class="filter">
          <app-input
            startIcon="bi bi-search"
            placeholder="Поиск"
            formControlName="email"
          />
        </th>
      </tr>
    </thead>
    <tbody *ngIf="employees">
      <tr *ngFor="let employee of employees">
        <td>
          <input
            type="checkbox"
            (change)="onCheckEmployee(employee.employee_id)"
            [value]="employee.employee_id"
          />
        </td>
        <td class="flex gap-2 font-medium items-center">
          <app-avatar />
          {{ employee | fullName }}
        </td>
        <td>{{ employee.post?.name }}</td>
        <td>Подразделение</td>
        <td>{{ employee.email }}</td>
      </tr>
      <tr #loadMoreTrigger>
        <td *ngIf="employees.length < itemsCount">Загрузка ...</td>
      </tr>
    </tbody>
  </table>
  <app-button size="medium" (handleClick)="onSaveBtnClick()"
    >Сохранить</app-button
  >
</form>
